swagger: '2.0'
info:
  title: APIM-customerPayments
  description: >-
    La API de Pago al Cliente representa la transferencia de pago de un cliente
    para un producto o uso de un producto.
  version: 1.0.0
host: apiinternaluat.entel.cl
schemes:
  - https
paths:
  /customer/customerBillCollection/v1/customerPayments:
    post:
      tags:
        - CustomerPayments
      summary: >-
        Esta Acción solicita una OCC a la API de OnePay SendTransaction, en la
        solicitud se pasa paramétricamente la OC en Entel (número único de
        transacción externo), en MSISDN, entre otros datos. Se retorna un json
        con los datos de la OCC.
      description: >

        # 1. Modo de Consumo


        ## 1.1 URI

        | Ambiente | API Endpoint                                              |
        Token Endpoint                      |

        | --------
        |:----------------------------------------------------------|:----------------------------------------------------|

        | UAT     
        |https://apiinternaluat.entel.cl/customer/customerBillCollection/v1/customerPayments
        | https://apiinternaluat.entel.cl/auth/oauth/v2/token |

        | PRD     
        |https://apiinternal.entel.cl/customer/customerBillCollection/v1/customerPayments   
        | https://apiinternal.entel.cl/auth/oauth/v2/token   |


        # 2. Estructura de entrada (Request)

        ## 2.1. Parametros Header


        | Campo            | Tipo              | Obligatorio |
        Descripcion                                                                                                                                                          
        | Valores posibles - Formato               |

        | -----------------| ------------------| ----------- |
        ---------------------------------------------------------------------------------------------------------------------------------------------------------------------
        | -----------------------------------------|

        | Content-Type     | string            | Si          | Indica el tipo de
        contenido del cuerpo del mensaje enviado al
        destinatario                                                                                           
        | application/json; charset=utf-8          |

        | Authorization    | string            | Si          | Token de acceso
        alfanumerico obtenido de la autenticación
        OAuth                                                                                                      
        | Bearer xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxx  |

        | applicationCode  | string            | Si          | Código único que
        representa al sistema consumidor. Es responsabilidad del consumidor
        enviar este
        valor                                                                |
        [Posibles
        valores](https://tdentel.atlassian.net/wiki/download/attachments/565838019/Master%20Headers%20Codes%20eUSB.xlsx?version=3&modificationDate=1531253559009&cacheVersion=1&api=v2)                 
        |

        | countryCode      | string            | Si          | Identifica el
        país desde donde se origina la petición. Es responsabilidad del
        consumidor enviar este
        valor                                                            | CHL
        (Chile), PER (Perú)                  |

        | consumerId       | string            | Si          | Código único de
        identificación de la ejecución, que identifica el evento del consumidor.
        Es responsabilidad del consumir enviar este valor según las reglas
        definidas
        |[Reglas](https://tdentel.atlassian.net/wiki/download/attachments/1151374/Master%20Headers%20Codes%20eUSB.xlsx?api=v2)
        |

        | requestTimestamp | string (Datetime) | Si          | Fecha, hora y
        timezone en el cual se envía la petición del
        consumidor.                                                                                               
        | YYYY-MM-DDThh:mm:ss.sss-Z                |  



        ## 2.2. Estructura Request 


        | Campo     | Tipo  | Obligatorio |
        Descripcion                                              |Valores
        posibles - Formato|

        |-----------|-------|-------------|:---------------------------------------------------------|:-------------------------|

        | oc   | String | Si          | Número único de orden de compra
        Entel                         |                  |

        | msisdn    | String  | Si          | Teléfono con 11
        dígitos                         |   |

        | mercadoOnePay    | String | Si          | Mercado al que pertenece el
        msisdn                        |                    |

        | commerceCodeOnePay      | String | Si          | Código numérico del
        comercio Entel al que corresponde quien invoca               
        |                          |

        | environmentPortal      | String | Si          | Descripción del portal
        que invoca                 |                          |

        | monto      | String | Si          | Monto total sin
        formato                 |                          |

        | url      | String | Si          | Url definida como callbackUrl en el
        integrador de medios de pagos                |                         
        |

        | canal      | String | Si          | Canal por el cual se realiza la
        solicitudd OCC                | MOBILE, WEB                         |

        | listaItems      | Array | Si          | Lista de items               
        |                          |

        | listaItems.producto      | String | Si          | Descripción del
        producto                 |                          |

        | listaItems.monto      | String | Si          | Monto individual del
        producto                 |                          |

        | listaItems.cantidad      | String | Si          | Cantidad del
        producto              |                          |

        | listaItems.codigo      | String | Si          | Código del
        producto                 |                          |

        | listaItems.vigencia      | String | Si          | Vigencia del
        producto                 |                          |

         ## 2.3. Estructura Response 


        | Campo             | Tipo  |
        Descripcion                                              |

        |---------------------------|-------|:---------------------------------------------------------|

        | result             |Object | Objeto con el status de la
        llamada.                 |

        | result.transactionId     |String | Id de transacción generado por el
        API Management.       |

        | result.code          |String| Código interno de
        respuesta.                 |

        | result.description       |String  | Descripción interno de
        respuesta.                        |

        | result.descriptionDetail  |String | Descripción detallada o acción a
        realizar.         |

        | result.responseTimestamp  |String   | Fecha y hora de respuesta del
        API Management.         |

        | occ             | String   | código de la orden de compra comercio en
        OnePay                                |

        | ott           |String| Código numérico de OTT en
        OnePay                           |

        | externalUniqueNumber      |String | Código de la orden de compra de
        Entel                              |

        | issuedAt      |String | Tiempo Epoch en que fue solicitada la OCC
        (hora actual medida en número de segundos desde el Epoch
        Unix)                    |

        | amount      |String | Monto total a
        autorizar                                |

        | qrCodeAsBase64      |String | Base64 de la imagen del código
        QR                                |
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: applicationCode
          in: header
          description: Código único que representa al sistema consumidor (Ver 2.1).
          required: true
          type: string
        - name: consumerId
          in: header
          description: >-
            Código único de identificación de la ejecución, que identifica el
            evento del consumidor (Ver 2.1).
          required: true
          type: string
        - name: countryCode
          in: header
          description: Identifica el país desde donde se origina la petición.
          required: true
          type: string
          enum:
            - CHL
            - PER
        - name: requestTimestamp
          in: header
          description: >-
            Fecha, hora y timezone en el cual se envía la petición del
            consumidor.
          required: true
          type: string
          default: '2018-12-12T12:12:12.444-03:00'
        - name: body
          in: body
          description: Payload de entrada
          required: true
          schema:
            $ref: '#/definitions/Request'
      responses:
        '200':
          description: OK - Operación concluida exitosa
          schema:
            $ref: '#/definitions/Response200'
        '400':
          description: Error - Parámetros invalidos
          schema:
            $ref: '#/definitions/ResponseError400'
        '401':
          description: Error - Error de autenticación
          schema:
            $ref: '#/definitions/ResponseError401'
        '404':
          description: Error - Recurso no encontrado.
          schema:
            $ref: '#/definitions/ResponseError404'
        '405':
          description: Error - Método no permitido
          schema:
            $ref: '#/definitions/ResponseError405'
        '422':
          description: Error - Error de procesamiento de la solicitud
          schema:
            $ref: '#/definitions/ResponseError422'
        '429':
          description: Error - Demasiadas solicitudes
          schema:
            $ref: '#/definitions/ResponseError429'
        '500':
          description: Error - Error inesperado en el servidor
          schema:
            $ref: '#/definitions/ResponseError500'
definitions:
  Request:
    type: object
    properties:
      oc:
        type: string
        title: Número único de orden de compra Entel.
        example: '1538444899191'
      msisdn:
        type: string
        title: Teléfono con 11 dígitos .
        example: '56992893137'
      mercadoOnePay:
        type: string
        title: Mercado al que pertenece el msisdn .
        example: CC
      commerceCodeOnePay:
        type: string
        title: Código numérico del comercio Entel al que corresponde quien invoca.
        example: '103'
      environmentPortal:
        type: string
        title: Descripción del portal que invoca .
        example: ''
      monto:
        type: integer
        title: Monto total sin formato .
        example: 500
      url:
        type: string
        title: Url definida como callbackUrl en el integrador de medios de pagos .
        example: >-
          https://
          integradorpagostest.entel.cl/integrador/onepay/exito/recarga/webLegado/6e0b39bdec45b4847ad73bfa5983720dd9dfa18e9719509cebce00c3184a1814
      canal:
        type: string
        title: >-
          Canal por el cual se realiza la solicitudd OCC. Valores posibles:
          MOBIEL, WEB
        example: MOBILE
      listaItems:
        type: array
        items:
          type: object
          properties:
            producto:
              type: string
              title: Descripción del producto.
              default: ''
              example: 123
            monto:
              type: integer
              title: Monto individual del producto .
              default: ''
              example: 500
            cantidad:
              type: integer
              title: Cantidad del producto.
              default: ''
              example: 1
            codigo:
              type: string
              title: Código del producto .
              default: ''
              example: ''
            vigencia:
              type: string
              title: Vigencia del producto.
              default: ''
              example: 30 dias'
  Response200:
    type: object
    properties:
      result:
        type: object
        properties:
          transactionId:
            type: string
            example: 0000016349eeab2d-2c9
          code:
            type: string
            example: '200'
          description:
            type: string
            example: OK
          descriptionDetail:
            type: string
            example: Procesamiento concluído exitosamente.
          responseTimestamp:
            type: string
            example: '2018/05/10T17:49:56.080'
      occ:
        type: string
        example: '1810214449235110'
      ott:
        type: integer
        example: 79276499
      externalUniqueNumber:
        type: string
        example: '1538444899191'
      issuedAt:
        type: integer
        example: 1538576138
      amount:
        type: integer
        example: 500
      qrCodeAsBase64:
        type: string
        example: >-
          iVBORw0KGgoAAAANSUhEUgAAAMgAAADICAYAAACtWK6eAAADpUlEQVR42u3dS27DMBBEQd7/0vYJsggsarrJekB2hqEPK4uBJa6PpD9bLoEEiASIBIgEiASIBIgEiASIBIgkQCRAJEAkQCRAJEAkQCRAJEAkQCQBIgEiASIBIt0CZK1V8fff49/9+aeO/7b7BQgggAACCCCAAAIIIIAAAggggADy7AUfG909dDwtYN0vQAABBBBAAAEEEEAAAQQQQAABBJAdJ9gytt09lkwb87bcL0AAAQQQQAABBBBAAAEEEEAAAQQQQN48nrTvAQQQQAABBBBAAAEEEEAAAQQQQAABpBHI7rFt2nECAggggAACCCCAAAIIIIAAAggggADyZmkvXmtZ8KfeL0AAAQQQQAABBBBAAAEEEEAAAQSQZ8eAt21/kPZ52x8AAggggFjwgAACCCCAAAIIIIAAcjaQ22r5MaQAAQQQQAABBBBAAAEEEEAAAQQQQH65cVPbCuz+fNp487ZHiQEBBBBAAAEEEEAAAQQQQAABBBBAZseh7Y+Itm/WacwLCCCAWEiAAAKI8wIEEEAAAQQQQAB5cyw5Nd5MG2vvvg6AAAIIIIAAAggggAACCCCAAAIIIJlAbnvh29TCaBl3+7EiIIAAAggggAACCCCAAAIIIIAAcjaQtIWUBnn38Ux9vzEvIIAAAggggAACCCCAAAIIIIAAkrn9QcsL4tJAtbwIrgkOIIAAAggggAACCCCAAAIIIIAAAsjnujFvyyPGt/3IExBAAAEEEEAAAQQQQAABBBBAAAFkdnx6Kvy0R3rbzwsQQJwXIIA4L0AAAQQQQAABBBBAAJmFdur2BO3XwYvjAAEEEEAAAQQQQAABBBBAAAEEkLOBnDq23X08aWN2QAABBBBAAAFEgAAiQAABBBBAMoFMjRnbX3TWvplp+z8iQAABBBBAAAEEEEAAAQQQQAABBJDMR2LTxsJpL6BL+0cBCCCAAAIIIIAAAggggAACCCCAADK7IFu2FWgZe7aP0ycDBBBAAAEEEEAAAQQQQAABBBBAAOkBctvCOPUFfYAAAggggAACCCCAAAIIIIAAAggggCS8OK5lwU+N3wEBBBBAAAEEEEAAAQQQQAABBBBAnr2h7QusZRzaAhwQQAABBBBAAAEEEEAAAQQQQAABxPYHCUBOHf9OjfEBAQQQQAABBBBAAAEEEEAAAQQQQKS7AkQCRAJEAkQCRAJEAkQCRAJEAkQSIBIgEiASIBIgEiASIBIgEiASIJIAkQCRAJEAkRL6AlzT4PgXl0qlAAAAAElFTkSuQmCC
  ResponseError400:
    type: object
    properties:
      result:
        type: object
        properties:
          transactionId:
            type: string
            example: 0000016349eeab2d-2c9
          code:
            type: string
            example: 400
          description:
            type: string
            example: Solicitud incorrecta
          descriptionDetail:
            type: string
            example: La solicitud contiene sintaxis errónea y no debería repetirse.
          responseTimestamp:
            type: string
            example: '2018/05/10T17:49:56.080'
  ResponseError401:
    type: object
    properties:
      result:
        type: object
        properties:
          transactionId:
            type: string
            example: 0000016349eeab2d-2c9
          code:
            type: string
            example: 401
          description:
            type: string
            example: No autorizado
          descriptionDetail:
            type: string
            example: Error en la entrega del token de autorización.
          responseTimestamp:
            type: string
            example: '2018/05/10T17:49:56.080'
  ResponseError404:
    type: object
    properties:
      result:
        type: object
        properties:
          transactionId:
            type: string
            example: 0000016349eeab2d-2c9
          code:
            type: string
            example: 404
          description:
            type: string
            example: No encontrado
          descriptionDetail:
            type: string
            example: Recurso no encontrado.
          responseTimestamp:
            type: string
            example: '2018/05/10T17:49:56.080'
  ResponseError405:
    type: object
    properties:
      result:
        type: object
        properties:
          transactionId:
            type: string
            example: 0000016349eeab2d-2c9
          code:
            type: string
            example: 405
          description:
            type: string
            example: Metodo no permitido
          descriptionDetail:
            type: string
            example: >-
              Una petición fue hecha a una URI utilizando un método de solicitud
              no soportado por dicha URI.
          responseTimestamp:
            type: string
            example: '2018/05/10T17:49:56.080'
  ResponseError422:
    type: object
    properties:
      result:
        type: object
        properties:
          transactionId:
            type: string
            example: 0000016349eeab2d-2c9
          code:
            type: string
            example: 422
          description:
            type: string
            example: Entidad no procesada
          descriptionDetail:
            type: string
            example: >-
              La solicitud está bien formada pero fue imposible seguirla debido
              a errores semánticos.
          responseTimestamp:
            type: string
            example: '2018/05/10T17:49:56.080'
  ResponseError429:
    type: object
    properties:
      result:
        type: object
        properties:
          transactionId:
            type: string
            example: 0000016349eeab2d-2c9
          code:
            type: string
            example: 429
          description:
            type: string
            example: Demasiadas solicitudes
          descriptionDetail:
            type: string
            example: Demasiadas solicitudes llegaron a la API.
          responseTimestamp:
            type: string
            example: '2018/05/10T17:49:56.080'
  ResponseError500:
    type: object
    properties:
      result:
        type: object
        properties:
          transactionId:
            type: string
            example: 0000016349eeab2d-2c9
          code:
            type: string
            example: 500
          description:
            type: string
            example: Error en el servidor
          descriptionDetail:
            type: string
            example: El servidor ha encontrado una error inesperado.
          responseTimestamp:
            type: string
            example: '2018/05/10T17:49:56.080'